body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;

  font-size: large;
  background-color: coral;
}

h1 {
  background-color: aquamarine;
  padding: 2% 6%;

  border-radius: 100px;
}

h2 {
  background-color: yellow;
  padding: 2% 6%;
  border-style: groove;
  border-width: 5px;
  border-radius: 100px;
}
img {
  width: 90%;
 max-width: 700px;
}
.pain-border
{
    border-style: groove;
    
    border-style: solid;
    background-color: wheat;
    border-width: 10px;
    border-radius: 408px;
}
@media screen and (max-width: 700px) {
  h1 {
    font-size: 20px;
  }
  h2 {
    font-size: 15px;
  }
}
    
